data/*

src/main/node_modules/*
src/main/bower_components/*
src/main/webapp/js/app.src.js
src/main/webapp/css/app.min.css

mvnw
mvnw.cmd


.metadata/*
.settings/*
.classpath
.project

*.iml
.idea/*
target/*
target/

*.dmp
deploy.sh
