data/*

src/main/resources/node_modules/*
src/main/resources/bower_components/*
src/main/resources/libs/*

.metadata/*
.settings/*
.classpath
.project

*.iml
.idea/*
target/*
target/

*.dmp
deploy.sh
