  <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="img-full text-center p-l-xxl p-r-xxl">
        <img src="/img/mangue2.png">
      </div>
    </div>

    <div class="p-md panel md-whiteframe-z2 text-color m">
      <div class="m-b text-sm">
        Sign in with your {{app.name}} Account
      </div>
      <form name="form" ng-submit="login()">
        <!-- <div class="md-form-group float-label">
          <input type="text" class="md-input" ng-model="user.username" required>
          <label>Username</label>
        </div> -->
        <md-input-container>
          <label>Username</label>
          <input ng-model="user.username" required>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="user.password" required>
        </md-input-container>
        <div class="m-b-md">        
          <!-- <label class="md-check">
            <input type="checkbox"><i class="md-accent"></i> Keep me signed in
          </label> -->
          <md-checkbox ng-model="keepMeLoggedIn" aria-label="Keep me signed in">
            Keep me signed in
          </md-checkbox>
        </div>
        <md-button md-ink-ripple type="submit" class="md-raised m-none md-accent btn-block p-h-md">Sign in</md-button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div><button ui-sref="access.forgot-password" class="md-btn">Forgot password?</button></div>
      <div>Do not have an account? <button ui-sref="access.signup" class="md-btn">Create an account</button></div>
    </div>
  </div>
